env/**

ignore/**

### Terraform
.terraform/*
*.lock.hcl
*.tfstate
*.backup

## IDE
.idea/*

# fastapi
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
poetry.lock
.cache
.venv


# temp
terraform/*